/.deps/
/Makefile
/Makefile.in
/ttfautohint.html
/ttfautohint.pdf
/ttfautohint.txt
/ttfautohint-2.pandoc

/handle-images.hi
/handle-images.o
/handle-images

/img/ttfautohintGUI.png

/img/blue-zones.pdf
/img/glyph-terms.pdf
/img/o-and-i.pdf
/img/segment-edge.pdf
