<style type="text/css">
  /* use Droid fonts */
  @import url("http://fonts.googleapis.com/css?family=Droid+Serif");
  @import url("http://fonts.googleapis.com/css?family=Droid+Sans+Mono");

  /* top-level appearance */
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    text-align: left;
    font-size: large;
    font-family: "Droid Serif", serif;
    line-height: 130%; }

  /* table of contents; */
  /* width and offsets must be synchronized with col2 below */
  #TOC {
    position: fixed;
    font-size: 115%;
    left: 0em;
    width: 13em; }
  #TOC ul {
    list-style: none; }
  #TOC ul li {
    text-indent: -1em;
    margin-bottom: 1ex; }
  #TOC ul li ul {
    display: none; }
  #TOC a {
    color: black;
    text-decoration: none; }

  /* column container */
  .colmask {
    /* this fixes the IE7 overflow hidden bug */
    /* and stops the layout jumping out of place */
    position: relative;
    clear: both;
    float: left;
    width: 100%;
    /* this chops off any overhanging divs */
    overflow: hidden; }
  /* two-column left menu settings (col1 is right, col2 is left) */
  .leftmenu {
    background: white; }
  .leftmenu .colright {
    float: left;
    width: 200%;
    position: relative;
    left: 15em; /* pad2_l + wd2 + pad2_r */
    background: white; }
  .leftmenu .col1wrap {
    float: right;
    width: 50%;
    position: relative;
    right: 15em; /* pad2_l + wd2 + pad2_r */
    padding-bottom: 1em; }
  .leftmenu .col1 {
    margin: 0 1em   /* pad2_r */
            0 15em; /* pad2_l + wd2 + pad2_r + pad1_l */
    position: relative;
    right: 100%;
    width: 45em;
    max-width: 66%;
    overflow: hidden; }
  .leftmenu .col2 {
    float: left;
    width: 13em; /* wd2 */
    position: relative;
    right: 14em; } /* wd2 + pad2_r */

  code {
    font-family: "Droid Sans Mono", monospace; }
  a {
    text-decoration: none; }

  h1 { }
  h2 { }
  h3 { }
  h4 { }
  h5 { }
  h6 { }
  h1.title {
   text-align: center; }
  h2.author {
   text-align: center; }
  h3.date {
   text-align: center; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: black; }

  /* figures */
  div.figure {
    text-align: center;
    margin-top: 5ex;
    margin-bottom: 5ex; }
  p.caption {
    font-size: smaller; }

  /* tables */
  table {
    border-collapse: collapse;
    /* the next two lines center the table horizontally */
    margin-left: auto;
    margin-right: auto;
    margin-top: 5ex;
    margin-bottom: 5ex; } 
  td {
    padding-left: 0.8em;
    padding-right: 0.8em; }
  tbody tr:first-child td {
    /* some vertical space after the horizontal rule */
    padding-top: 1ex; }
  thead {
    /* a horizontal rule between table head and body */
    border-bottom: solid thin; }
  th {
    padding-left: 0.8em;
    padding-right: 0.8em;
    /* some vertical space before the horizontal rule */
    padding-bottom: 1ex; }

  /* if we have paragraphs in definition lists, */
  /* suppress the very first vertical space */
  dd > p:first-child {
    margin-top: 0; }

  /* source-code highlighting */
  table.sourceCode,
  tr.sourceCode,
  td.lineNumbers,
  td.sourceCode,
  table.sourceCode pre {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    border: none; }
  td.lineNumbers {
    border-right: 1px solid #AAAAAA;
    text-align: right;
    color: #AAAAAA;
    padding-right: 5px;
    padding-left: 5px; }
  td.sourceCode {
    padding-left: 5px; }

  pre.sourceCode {
    margin-left: 2em; }

  code.sourceCode span.kw {
    color: #007020;
    font-weight: bold; }
  code.sourceCode span.dt {
    color: #902000; }
  code.sourceCode span.dv {
    color: #40a070; }
  code.sourceCode span.bn {
    color: #40a070; }
  code.sourceCode span.fl {
    color: #40a070; }
  code.sourceCode span.ch {
    color: #4070a0; }
  code.sourceCode span.st {
    color: #4070a0; }
  code.sourceCode span.co {
    color: #60a0b0;
    font-style: italic; }
  code.sourceCode span.ot {
    color: #007020; }
  code.sourceCode span.al {
    color: red;
    font-weight: bold; }
  code.sourceCode span.fu {
    color: #06287e; }
  code.sourceCode span.re { }
  code.sourceCode span.er {
    color: red;
    font-weight: bold; }
</style>
